.product {
  margin: 1.5rem;
  padding: 1.5rem 12rem;
  background-color: #0c1d36;
  min-height: calc(95.9vh);
}

.product section {
  width: clamp(80rem, 80%, 90rem);
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7rem;
  align-items: center;
}

img {
  width: 420px;
  height: 250px;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product section img {
  max-width: 100%;
  height: auto;
  object-position: center;
}

.product h2 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
  margin-left: 5rem;
}

.product p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
}

.product section a {
  margin-top: 2rem;
}

@media (max-width: 1024px) {
  .product {
    padding: 1.5rem 5rem;
  }

  .product section {
    width: 90%;
    margin: 3rem auto;
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .product h2 {
    font-size: 3.2rem;
    margin-left: 2rem;
    text-align: center;
  }

  .product p {
    font-size: 1.4rem;
    margin-left: 2rem;
  }
}

@media (max-width: 768px) {
  .product {
    padding: 1.5rem 2rem;
  }

  .product section {
    width: 100%;
    margin: 2rem auto;
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .product h2 {
    font-size: 2.5rem;
    margin-left: 1rem;
    text-align: center;
  }

  .product p {
    font-size: 1.4rem;
    margin-left: 1rem;
  }
}
